*.sln
*.suo
*.vcxproj
*.filters
*.opensdf
*.sdf
IPSM/IPSM.v11.suo
IPSM/IPSM.v11.suo
IPSM/IPSM.v11.suo
IPSM/IPSM/obj/Debug/IPSM.csproj.FileListAbsolute.txt
IPSM/IPSM/obj/Debug/IPSM.csproj.GenerateResource.Cache
IPSM/IPSM/obj/Debug/IPSM.csprojResolveAssemblyReference.cache
IPSM/IPSM/obj/Debug/IPSM.exe
IPSM/IPSM/obj/Debug/IPSM.pdb
IPSM/IPSM.v11.suo
IPSM/IPSM/bin/Debug/IPSM.exe
IPSM/IPSM/bin/Debug/IPSM.pdb
IPSM/IPSM/bin/Debug/IPSM.vshost.exe.manifest
IPSM/IPSM.v11.suo
IPSM/IPSM/bin/Debug/IPSM.exe
IPSM/IPSM/bin/Debug/IPSM.pdb
IPSM/IPSM/bin/Debug/IPSM.exe
IPSM/IPSM/bin/Debug/IPSM.pdb
IPSM/IPSM/obj/Debug/IPSM.csproj.FileListAbsolute.txt
IPSM/IPSM/obj/Debug/IPSM.csproj.FileListAbsolute.txt.orig
IPSM/IPSM/obj/Debug/IPSM.csproj.GenerateResource.Cache
IPSM/IPSM/obj/Debug/IPSM.csproj.GenerateResource.Cache.orig
IPSM/IPSM/obj/Debug/IPSM.exe
IPSM/IPSM/obj/Debug/IPSM.pdb
